@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Extra-Bold-Italics;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: Poppins-Italics;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}

:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

*{
    /* font-family:'Poppins-Extra-Bold-Italics'; */
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Off-white);
}

#card{
    background-color: var(--White);
    height: 33rem;
    width: 40rem;
    border-radius: 1rem 1rem 12rem;
    /* border: 1px solid; */
}

.hide{
    display: none;
}

.content-container{
    padding: 2.8rem 2.3rem;
    height: 100%;
}

.input-container{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2.2rem;

}

.data-and-labels{
    /* height: 5.4rem; */
    gap:0.4rem;
    display: flex;
    flex-direction: column;
    
}

.date-label{
    width: 5rem;
    font-weight: 900;
    font-family: 'Poppins-Bold';
    letter-spacing: 2px;
    font-size: 10px;
    color: var(--Smokey-grey);
}

.error {
    color: var(--Light-red);
    font-family: 'poppins-italics';
    font-size: 11px;
}

input[type='number']{
    height: 3rem;
    width: 7rem;
    border:1px solid var(--Light-grey);
    border-radius: 0.3rem;
    /* margin-bottom: 2.2rem; */
    font-family: 'Poppins-Bold';
    font-size: 1.3rem;
    padding-left: 1rem;
}

#result-years, #result-months, #result-days{
    color: var(--Purple);
}


.button-and-break{
    width: 100%;
    justify-content: space-between;
    position: relative;
}

#find-age-button{
    position: absolute;
    right: 0;
    top: -2rem;
    height: 4.2rem;
    width: 4.2rem;
    background-image: url("./assets/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 2rem;
    background-color: var(--Purple);
    border-radius: 50%;
    border: none;
}

#find-age-button:hover{
    cursor: pointer;
    background-color: var(--Off-black);
}

.error-border{
    border: 1px solid var(--Light-red);
    outline: 1px solid var(--Light-red);
}

#result{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;
    font-family: 'Poppins-Extra-Bold-Italics';
    font-size:4.3rem;
}

@media screen and (max-width:650px) {
    #card{
        width: 25rem;
        height: 40rem;
    }

    input[type='number'] {
        width: 5rem;
    }

    .input-container {
        gap: 0rem;
        justify-content: space-between;
        margin-bottom: 2.2rem;
        /* flex-wrap: wrap; */
    }

    #find-age-button{
        top: 0.2rem;
        left: 40%;
    }

    .button-and-break{
        padding-top: 2rem;
    }

    #result{
        margin-top: 2rem;
        font-size: 3.5rem;
    }

    .content-container{
        padding-top: 5rem;
    }
}


